# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Project Data (Sẽ tự sinh ra khi chạy code, không nên push lên Git để tránh nặng repo)
sample_data/

# Model Checkpoints (Các file trọng số mô hình rất nặng, tuyệt đối không push)
checkpoints/

# Kết quả dự đoán thô (Thường khá nặng)
results/test_predictions.csv

# Jupyter Notebook (Dành cho Colab)
.ipynb_checkpoints/
